@model InsSave.Models.InsMedia
@{
    ViewData["Title"] = "";
}

    <div class="text-center">
        @foreach (var item in Model.PhotoUrls)
        {
            <img src="@item" width="50%" />
        }
    </div>