@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>复制INS链接到输入框里获取图片</p>
    <div class="row">
        <input class="form-control col-md-6 offset-3"  type="text" placeholder="...">
        <button>搜索</button>
    </div>
</div>
