@{
    ViewData["Title"] = "";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>复制INS链接到输入框里获取图片</p>
        <form asp-controller="Home" asp-action="GetPhoto">
                <input class="col-md-10 col-sm-10 col-10" type="text" name="url">
                <input type="submit" value="搜索" />
        </form>
    </div>

@section scripts{
    <script>
        //$(document).ready(function () {
        //    $("#test").on('click', function () {
        //        var str = "www.baidu.com";
        //        var str2 = $(this).html(str);
        //        alert(str2);
        //    })
        //})
    </script>
}

